<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div>
      <button
        routerLink="2"
        routerLinkActive="active"
        mat-button
        color="accent"
        (click)="closeDrawer()"
      >
        2x2
      </button>
      <button
        mat-button
        routerLink="3"
        routerLinkActive="active"
        color="accent"
        (click)="closeDrawer()"
      >
        3x3
      </button>
      <button
        mat-button
        routerLink="4"
        routerLinkActive="active"
        color="accent"
        (click)="closeDrawer()"
      >
        4x4
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="btn">
        <span class="cursor-pointer hover:text-yellow-500" routerLink="times"
          ><mat-icon>history</mat-icon></span
        >
        <mat-slide-toggle [(ngModel)]="musica" (ngModelChange)="toggleMusic()"
          ><mat-icon>music_note</mat-icon></mat-slide-toggle
        ><audio
          #myAudio
          src="https://github.com/Criscode2022/contadorRubik/blob/main/assets/You%20%E2%80%94%20myuu%20(128%20kbps).mp3?raw=true"
          [autoplay]="musica"
        ></audio>
        <button
          class="md:!hidden !mr-2"
          mat-icon-button
          (click)="drawer.toggle()"
        >
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row class="title-container">
        <h1
          (click)="this.algorithmService.generateRandom()"
          class="text-center !text-4xl md:!text-6xl hover:text-orange-500 cursor-pointer !font-bold"
        >
          GaliRubik
        </h1>
      </mat-toolbar-row>
      <mat-toolbar-row class="justify-center !hidden md:!flex gap-24">
        <button
          routerLink="2"
          routerLinkActive="active"
          mat-button
          color="accent"
        >
          2x2
        </button>
        <button
          mat-button
          routerLink="3"
          routerLinkActive="active"
          color="accent"
        >
          3x3
        </button>
        <button
          mat-button
          routerLink="4"
          routerLinkActive="active"
          color="accent"
        >
          4x4
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row
        class="flex justify-center items-center text-xs md:text-base m-0 relative"
      >
        <span class="mx-4 px-4 text-wrap md:text-2xl"
          >{{ algorithmService.algorithms[algorithmService.random].algoritmo }}
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
