<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div id="btn-drawer">
      <button
        routerLink="2x2"
        routerLinkActive="active"
        mat-button
        color="accent"
        (click)="closeDrawer()"
      >
        2x2
      </button>
      <button
        mat-button
        routerLink="3x3"
        routerLinkActive="active"
        color="accent"
        (click)="closeDrawer()"
      >
        3x3
      </button>
      <button
        mat-button
        routerLink="4x4"
        routerLinkActive="active"
        color="accent"
        (click)="closeDrawer()"
      >
        4x4
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="btn">
        <span id="star" routerLink="times"><mat-icon>history</mat-icon></span>
        <mat-slide-toggle [(ngModel)]="musica" (ngModelChange)="cambiarMusica()"
          ><mat-icon>music_note</mat-icon></mat-slide-toggle
        ><audio
          #myAudio
          src="https://github.com/Criscode2022/contadorRubik/blob/main/assets/You%20%E2%80%94%20myuu%20(128%20kbps).mp3?raw=true"
          [autoplay]="musica"
        ></audio>
        <button mat-icon-button (click)="drawer.toggle()" fxHide fxShow.lt-md>
          <mat-icon>menu</mat-icon>
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row fxHide fxShow.lt-md></mat-toolbar-row>
      <mat-toolbar-row class="title-container">
        <h1 routerLink="/">GaliRubik</h1>
      </mat-toolbar-row>
      <mat-toolbar-row class="button-container" fxHide fxShow.gt-sm>
        <button
          routerLink="2"
          routerLinkActive="active"
          mat-button
          color="accent"
        >
          2x2
        </button>
        <button
          mat-button
          routerLink="3"
          routerLinkActive="active"
          color="accent"
        >
          3x3
        </button>
        <button
          mat-button
          routerLink="4"
          routerLinkActive="active"
          color="accent"
        >
          4x4
        </button>
      </mat-toolbar-row>
      <mat-toolbar-row id="algoritmo-row">
        {{ algoritmosService.algorithms[algoritmosService.random].algoritmo }}
        <mat-icon id="change" (click)="generarAleatorio()">replay</mat-icon>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
