.example-sidenav.mat-drawer {
  position: fixed;
  top: 0;
  width: 40vh;
  background-color: rgb(154, 140, 235);
  margin: auto;
  text-align: center;
  z-index: 999999;
}

.example-sidenav.mat-drawer button {
  width: 80%;
}

h1 {
  text-shadow: 3px 3px #000000;
}

button {
  background-color: cadetblue;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  color: white !important;
  font-size: larger;
  padding: 20px !important;
  border-radius: 10px !important;
  margin-top: 40px !important;
}

.cube-buttons button {
  padding: 20px 120px 20px 120px !important;

  &:hover {
    background-color: red;
  }
}

button.active {
  background-color: red;
}
