<mat-drawer-container autosize>
  <mat-drawer #drawer class="example-sidenav" mode="over">
    <div>
      <button
        routerLink="2"
        routerLinkActive="active"
        mat-button
        color="accent"
        (click)="closeDrawer()"
      >
        2x2
      </button>
      <button
        mat-button
        routerLink="3"
        routerLinkActive="active"
        color="accent"
        (click)="closeDrawer()"
      >
        3x3
      </button>
      <button
        mat-button
        routerLink="4"
        routerLinkActive="active"
        color="accent"
        (click)="closeDrawer()"
      >
        4x4
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row class="flex justify-start md:justify-between gap-4">
        <mat-icon
          [class.invisible]="hide"
          class="cursor-pointer hover:text-yellow-500"
          routerLink="times"
          >history</mat-icon
        >
        <mat-slide-toggle [(ngModel)]="music" (ngModelChange)="toggleMusic()">
          <mat-icon>music_note</mat-icon>
        </mat-slide-toggle>
        <audio
          #myAudio
          src="https://github.com/Criscode2022/contadorRubik/blob/main/assets/You%20%E2%80%94%20myuu%20(128%20kbps).mp3?raw=true"
          [autoplay]="music"
        ></audio>
      </mat-toolbar-row>

      <button
        class="md:hidden flex items-center absolute top-1 right-2"
        (click)="drawer.toggle()"
        *ngIf="!hide"
      >
        <mat-icon>menu</mat-icon>
      </button>

      <mat-toolbar-row class="flex justify-center">
        <h1
          (click)="this.algorithmService.generateRandom(); navigate(hide)"
          class="!text-4xl md:!text-7xl hover:text-orange-500 cursor-pointer !font-bold no-select"
        >
          GaliRubik
        </h1>
      </mat-toolbar-row>

      <mat-toolbar-row
        *ngIf="!hide"
        class="justify-center !hidden md:!flex gap-24 cube-buttons"
      >
        <button mat-button routerLink="2" routerLinkActive="active">2x2</button>
        <button mat-button routerLink="3" routerLinkActive="active">3x3</button>
        <button mat-button routerLink="4" routerLinkActive="active">4x4</button>
      </mat-toolbar-row>

      <mat-toolbar-row class="flex justify-center items-center">
        <span
          *ngIf="!hide"
          class="mx-4 px-4 text-wrap text-xs md:text-2xl md:!pt-4 md:!mt-2"
          >{{ algorithmService.algorithms[algorithmService.random].algoritmo }}
        </span>
      </mat-toolbar-row>
    </mat-toolbar>
  </mat-drawer-content>
</mat-drawer-container>

<router-outlet></router-outlet>
