<div class="flex justify-between p-4">
  <button mat-raised-button color="primary" (click)="downloadTodo()">
    Descargar todos os tempos
  </button>

  <button mat-fab (click)="clearLocalStorage()" color="warn">
    <mat-icon>delete</mat-icon>
  </button>
</div>

<div>
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="!text-xl">2x2</span>
      </ng-template>

      <div class="flex justify-between">
        <button mat-fab (click)="downloadResultados2()">
          <mat-icon>download</mat-icon>
        </button>

        <h2>Media de resultados: {{ media2 }}</h2>
      </div>

      <ol>
        <li *ngFor="let cubo of resultados2">
          {{ cubo.tempo }} ({{ parseAndFormatDate(cubo.data) }})
        </li>
      </ol>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="!text-xl">3x3</span>
      </ng-template>
      <div class="flex justify-between">
        <button mat-fab (click)="downloadResultados3()">
          <mat-icon>download</mat-icon>
        </button>

        <h2>Media de resultados: {{ media3 }}</h2>
      </div>

      <ol>
        <li *ngFor="let cubo of resultados3">
          {{ cubo.tempo }} ({{ parseAndFormatDate(cubo.data) }})
        </li>
      </ol>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="!text-xl">4x4</span>
      </ng-template>
      <div class="flex justify-between">
        <button mat-fab (click)="downloadResultados4()">
          <mat-icon>download</mat-icon>
        </button>

        <h2>Media de resultados: {{ media4 }}</h2>
      </div>

      <ol>
        <li *ngFor="let cubo of resultados4">
          {{ cubo.tempo }} ({{ parseAndFormatDate(cubo.data) }})
        </li>
      </ol>
    </mat-tab>
  </mat-tab-group>
</div>
