<div class="flex justify-between items-center gap-1 p-4">
  <button
    [disabled]="!localData.length"
    mat-raised-button
    color="primary"
    (click)="downloadAll()"
  >
    Descargar todos os tempos
  </button>

  <button
    [disabled]="!localData.length"
    mat-fab
    (click)="clearLocalStorage()"
    color="warn"
    aria-label="delete all icon"
  >
    <mat-icon>delete</mat-icon>
  </button>
</div>

<div>
  <mat-tab-group dynamicHeight>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-xl">2x2</span>
      </ng-template>
      <app-tab-results [results]="cube2Results"></app-tab-results>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-xl">3x3</span>
      </ng-template>
      <app-tab-results [results]="cube3Results"></app-tab-results>
    </mat-tab>

    <mat-tab>
      <ng-template mat-tab-label>
        <span class="text-xl">4x4</span>
      </ng-template>
      <app-tab-results [results]="cube4Results"></app-tab-results>
    </mat-tab>
  </mat-tab-group>
</div>
